<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        {% include 'blog/header.html' %}
        <div style="margin-bottom:30px">
            <a href="{% url 'post_new' %}">Add New Post +</a>
        </div>
        {% for post in posts %}
            <article style="border:1px solid black; margin-top:10px;">
                <time>published: {{ post.published_date }}</time>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text }}</p>
                <br>
            </article>
        {% endfor %}
    </body>
</html>